.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #068a8a;
  border: 1px solid #06818a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #035164;
  border-color: #035164;
}